<div class="Signup_container"> 
  <div class="Signup_form">
    <%= image_tag "login1.jpg", class: "Image_login" %>
    <%= form_for @user do |f| %>
      <h3>Sing up</h3><br/>
      <%= f.text_field :name, placeholder: "USER NAME" %><br/><br/>
      <%= f.text_field :email, placeholder: "EMAIL" %><br/><br/>
      <%= f.submit "Sing up", class: "Submit_button" %>
    <% end %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>