<div class="Background">
  <div class="Main_container">
    <h1 class="Title">WELCOME <%= @user.name %>!</h1>
    <div class="Grid_container">
      <div class="Grid_item" id="Grid_item1">
        <h2><%= link_to "YOUR EVENTS", events_path, class: "Event_title" %></h2>
      </div>
      <div class="Grid_item" id="Grid_item2">
        <h2><%= link_to "PAST EVENTS", events_path, class: "Event_title" %></h2>
      </div>
      <div class="Grid_item" id="Grid_item3">
        <h2><%= link_to "FUTURE EVENTS", events_path, class: "Event_title" %></h2>  
      </div>
      <div class="Grid_item" id="Grid_item4">
        <h2><%= link_to "INVITE YOUR FRIENDS",new_invitation_path, class: "Event_title" %></h2>
      </div>
    </div>
  </div>
</div>