<section class="user_info">
  <h2>WELCOME <%= @user.name %>!</h2>
  <% unless @user.events.blank? %>
    <h3>Your events: </h3>
    <% @user.events.each do |event| %>
      <h3 class="Event_title"><%= event.name %></h3>
      <p class="Event_description"><%=  event.description %></p>
    <% end %>
  <% end %>
  <div class="Past_events">
    <h2>Events attended:</h2>
    <% @user.events_as_attendee.past.each do |event| %>
      <h3 class="Event_title"><%= event.name %></h3>
      <p class="Event_description"><%=  event.description %></p>
      <h3><%= event.date %></h3>   
    <% end %>
  </div>
  <div class="Future_events">
    <h2>Upcoming events:</h2>
    <% @user.events_as_attendee.future.each do |event| %>
      <h3 class="Event_title"><%= event.name %></h3>
      <p class="Event_description"><%=  event.description %></p>
      <h3><%= event.date %></h3>
    <% end %>
  </div>
</section>