<section class="user_info">
  <h2><%= @user.name %></h2>
  <h2><%= @user.email %></h2>
  <% unless @user.events.blank? %>
    <h3>Events created by this user: </h3>
    <% @user.events.each do |event| %>
      <h3><%= event.name %></h3>
      <p><%=  event.description %></p>
    <% end %>
  <% end %>
  <% unless @user.events_as_attendee.blank? %>
    <h3>User attending this events: </h3>
     <% @user.events_as_attendee.each do |event| %>
      <h3><%= event.name %></h3>
    <% end %>
  <% end %>
  <% if !@current_user.nil? %>
    <h3>Logged in as: <%= @current_user.name %></h3>
  <% end %>   
</section>