<%= image_tag "dashboard1.jpg", class: "Image_dashboard" %>
<div class="Event_container">
  
  <div class="Event_form">
    <h1>New Event</h1><br />
    <%= form_for(@event) do |f| %>
      <%= f.label :name, 'Event name: ' %><br />
      <%= f.text_field :name %><br />
      <%= f.label :description, 'Event description: ' %><br />
      <%= f.text_area :description, size: "20x6" %><br />
      <%= f.label :date, 'Event date: ' %><br />
      <%= f.date_field :date, min: Date.today %> <br /><br />
      <%= f.submit "Submit", class: "Submit_button" %>
    <% end %>
  </div>
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>