<%= image_tag "dashboard1.jpg", class: "Image_dashboard" %>
<div class="Invitation_container">
  
  <div class="Invitation_form">
    <%= form_for @invitation do |f| %>
      <h1>Invite user</h1><br />
      <%= f.label :event, 'Event: ' %><br /><br />
      <%= f.collection_select :event, Event.where("creator_id = ?", @current_user.id), :id, :name, class: "Form_select" %><br /><br />
      <%= f.label :invited_user, 'Invitation for: ' %><br /><br />
      <%= f.text_field :invited_user %><br /><br />
      <%= f.submit "Submit", class: "Submit_button" %>
    <% end %>
  </div>
</div>