<%= image_tag "dashboard1.jpg", class: "Image_dashboard" %>
<div class="Invitation_container">
  
  <div class="Invitation_form">
    <%= form_for @invitation do |f| %>
      <h1>Invite user</h1>
      <%= f.label :event, 'Event: ', class: "invitation-form-element" %>
      <%= f.collection_select :event, Event.where("creator_id = ?", @current_user.id), :id, :name, class: "invitation-form-element Form_select" %>
      <%= f.label :invited_user, 'Invitation for: ', class: "invitation-form-element" %>
      <%= f.text_field :invited_user , required: true, class: "invitation-form-element" %>
      <%= f.submit "Submit", class: "Submit_button invitation-form-element" %>
    <% end %>
  </div>
</div>