<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:h3, message, class: "Alert") %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
